<h1>Nextenbukai#edit</h1>
<p>Find me in app/views/nextenbukai/edit.html.erb</p>
<%= form_for @nextenbukai do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %> 
    <%= f.submit "編集する" %>
<% end %>